.videoEditorContainer {
  min-height: var(--video-editor-min-height);
}

.cursor {
  height: calc(100% + 16px);
  top: -8px;
}

.videoRangeContainer {
  --start-range: 0px;
  --end-range: 0px;

  animation-name: rangePlaying;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  transform: translateX(var(--start-range));
}

@keyframes rangePlaying {
  0% {
    transform: translateX(var(--start-range));
  }

  100% {
    transform: translateX(var(--end-range));
  }
}
